.box{
   background: linear-gradient(0deg, rgba(99,58,58,1) 14%, rgba(145,23,23,1) 86%); 
    margin-block: 10px;
    width: 400px;;
    border: 5px solid #6d2828;
    color: aliceblue;
  border-radius: 5px;
}
.list{
    
        list-style: none ;
        display: flex;
        justify-content: center;
        align-items: center;
       flex-wrap: wrap;
        gap: 40px;
        padding: 0%;
        margin-top: 30px;
}