.com{
    display: flex;
    justify-content: start;
    padding-left: 5px;
    align-items: center;
    height: 60px;
    background: linear-gradient(90deg, rgba(37,24,24,1) 14%, rgba(145,23,23,1) 86%);
    border: 5px solid #6d2828 ;
    border-radius: 5px;
    color: aliceblue;
    font-size: 21px;
    font-weight: bolder;
}